// Colors
// --------------------------------------------------

$btnText:                           #fff;
$btnTextAlt:                        #000;

.login-welcome-message {
    margin-bottom: 40px;
}
