@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

body {
    border-top: 6px solid #DEDEDE;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

* {
    * { box-sizing: border-box; }
}

ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #1596CC;
}

@mixin transition-quick($property) {
    transition: $property 0.2s ease;
}


@mixin transition-none($property) {
    transition: $property 0s ease;
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'main/main.scss';
@import 'messagelist/messagelist.scss';
@import 'messages/messages.scss';
@import 'userlist/userlist.scss';
@import 'navbar/navbar.scss';
// endinjector
