<header class="header" ng-controller="NavbarCtrl">
    <div sloped class="header-bg"></div>
    <div class="header-logo"></div>
    <div class="header-profile" ng-show="isLoggedIn()">
        <div class="profile-avatar profile-right">
                <img src="../assets/images/avatar-default.png">
        </div>
        <div class="profile-left">
            <div class="profile-username">
                {{ getCurrentUser().name }}
            </div>
            <div class="profile-points">
                <span>842</span>
            </div>
        </div>
        <ul class="nav navbar-nav navbar-right" ng-hide="isLoggedIn()">
            <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}"><a href="/signup">Sign up</a></li>
            <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/login">Login</a></li>
            <li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}"><a href="/settings"><span class="glyphicon glyphicon-cog"></span></a></li>
            <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Logout</a></li>
        </ul>
    </div>
    <ul class="header-actions" ng-show="isLoggedIn()">
        <li class="profile-action profile-action-logout">
            <a href="" ng-click="logout()">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32">
                    <path d="M20 4.581v4.249c1.131 0.494 2.172 1.2 3.071 2.099 1.889 1.889 2.929 4.4 2.929 7.071s-1.040 5.182-2.929 7.071c-1.889 1.889-4.4 2.929-7.071 2.929s-5.182-1.040-7.071-2.929c-1.889-1.889-2.929-4.4-2.929-7.071s1.040-5.182 2.929-7.071c0.899-0.899 1.94-1.606 3.071-2.099v-4.249c-5.783 1.721-10 7.077-10 13.419 0 7.732 6.268 14 14 14s14-6.268 14-14c0-6.342-4.217-11.698-10-13.419zM14 0h4v16h-4z"></path>
                </svg>
                <span>Logout</span>
            </a>
        </li>
        <li class="profile-action profile-action-settings">
            <a href="/settings">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32">
                    <path d="M32 19.003v-6.006l-4.587-0.764c-0.186-0.567-0.413-1.115-0.678-1.641l2.702-3.782-4.247-4.247-3.776 2.697c-0.528-0.267-1.079-0.497-1.649-0.684l-0.763-4.575h-6.006l-0.763 4.575c-0.57 0.188-1.121 0.417-1.649 0.684l-3.776-2.697-4.247 4.247 2.702 3.782c-0.265 0.526-0.492 1.074-0.678 1.641l-4.587 0.764v6.006l4.597 0.766c0.186 0.561 0.413 1.105 0.676 1.626l-2.711 3.795 4.247 4.247 3.802-2.715c0.519 0.261 1.059 0.485 1.618 0.67l0.768 4.608h6.006l0.768-4.609c0.559-0.185 1.099-0.409 1.618-0.67l3.802 2.715 4.247-4.247-2.711-3.795c0.264-0.521 0.49-1.064 0.676-1.626l4.597-0.766zM16 20c-2.209 0-4-1.791-4-4s1.791-4 4-4c2.209 0 4 1.791 4 4s-1.791 4-4 4z"></path>
                </svg>
                <span>Settings</span>
            </a>
        </li>
    </ul>
</div>
</header>

<!--
<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">nemo</a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
        <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}"><a href="/admin">Admin</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}"><a href="/signup">Sign up</a></li>
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/login">Login</a></li>
        <li ng-show="isLoggedIn()"><p class="navbar-text">Hello {{ getCurrentUser().name }}</p> </li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}"><a href="/settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
-->
