<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <ul class="comment-list">
    <li ng-repeat="message in messages">
      <b>{{ message.author.name }}:</b> {{ message.content }}
    </li>
  </ul>
  <form class="comment-form" ng-submit="addComment()" name="commentForm">
    <input class="form-control" type="text" ng-model="newMessage" placeholder="Enter a new comment" required></input>
    <input class="btn btn-primary" type="submit" ng-disabled="commentForm.$invalid" value="Post">
  </form>
</div>
